[tool.poetry]
name = "kupala"
version = "0.1.0"
description = ""
authors = ["alex.oleshkevich <alex.oleshkevich@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.dev-dependencies]
pytest-sugar = "^0.9"
pytest-asyncio = "^0.14"
pytest-mypy = "^0.8"
pytest-coverage = "^0.0"
pytest = "^6.2"
black = "^21.5b0"
isort = "^5.8.0"
autoflake = "^1.4"
mkdocs = "^1.1.2"
mkdocs-material = "^7.1.4"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
norecursedirs = [".git", "docs", ".venv"]
addopts = "--tb=short -s --no-cov-on-fail --cov kupala"
