<!doctype html>
<html>
<body>
<style>
    {% include 'kupala/mail/mail.css' %}
    {% include 'kupala/mail/overrides.css' %}
</style>
<table class="wrapper">
    <tbody>
    <tr>
        <td>
            <table class="content">
                <tbody>
                <tr>
                    <td class="logo">
                        {% block logo %}{% endblock %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% block before_content %}{% endblock %}
                        {% block content %}{% endblock %}
                        {% block after_content %}{% endblock %}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
