DEBUG=1
SECRET_KEY=97caa6df3b1329ab975c173dab018beecb73d22434c56842bd150d109d223116
ENCRYPTION_KEY=IbNwDRpC6VFYOjrOuQOYwPBCrqt4AcfYSsFIX/dMYI4=
CACHE_URL=memory://
DATABASE_URL=postgresql+psycopg_async://postgres:postgres@127.0.0.1:5432/demo
